<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="list-group">
            <!-- Can add link queries (?=xyz) using query params, key-value pairs -->
            <!-- Can add fragments (#xyz) using fragment -->
            <a
                [routerLink]="['/servers', server.id]"
                [queryParams]="{ allowEdit: server.id === 3 ? '1' : '0' }"
                [fragment]="'loading'"
                href="#"
                class="list-group-item"
                *ngFor="let server of servers"
            >
                {{ server.name }}
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <!-- <button class="btn btn-primary" (click)="onReload()">Reload Page (broken)</button>
        <br /> -->

        <!-- Relative pathing -->
        <!-- <a routerLink="servers">This link is broken</a>
        <br /> -->
        <!-- Absolute pathing -->
        <!-- <a routerLink="/servers">This link works</a>
        <hr />

        <app-edit-server></app-edit-server>
        <hr />
        <app-server></app-server> -->

        <!-- Router outlet for child routes of the servers route -->
        <router-outlet></router-outlet>
    </div>
</div>
