<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <ul class="nav nav-tabs">
                <!-- Do not use href, it will work but it will reload the page -->
                <!-- Array notation allows more complex path construction: ="['/a', 'b', 'c']" -->

                <!-- Use angular directive to set class on active router link -->
                <!-- <li role="presentation" class="active"><a routerLink="/">Home</a></li> -->

                <!--
                    By default, it applies if the path is anwhere within the active route.
                    The path "/" is always part of the path, so is always active.
                    Add [routerLinkActiveOptions]="{ exact: true }" to require the exact path.
                -->
                <li
                    role="presentation"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    <a routerLink="/">Home</a>
                </li>

                <li role="presentation" routerLinkActive="active">
                    <a routerLink="/servers">Servers</a>
                </li>

                <!-- Different notations -->
                <!-- <li role="presentation"><a [routerLink]="'/users'">Users</a></li> -->
                <li role="presentation" routerLinkActive="active">
                    <a [routerLink]="['/users']">Users</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <!-- Do not include pages that are in the router -->
            <!-- <app-home></app-home> -->

            <!-- Mark the location where Angular will render the currently selected route -->
            <!-- Reserved for top level routes, no child routes will render here -->
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <app-users></app-users>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <app-servers></app-servers>
        </div>
    </div> -->
</div>
