<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <!-- Call onSubmit when the submit button is clicked -->
            <!-- Pass the Angular form by local reference via ngForm -->
            <!-- <form (ngSubmit)="onSubmit(form)" #form="ngForm"> -->
            <form (ngSubmit)="onSubmit()" #form="ngForm">
                <!-- Group the form inputs into a single object -->
                <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input
                            type="text"
                            id="username"
                            class="form-control"
                            ngModel
                            name="username"
                            required
                        />
                    </div>
                    <button class="btn btn-default" type="button" (click)="suggestUserName()">
                        Suggest an Username
                    </button>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <!-- Use the Angular directive email to validate the email format -->
                        <input
                            type="email"
                            id="email"
                            class="form-control"
                            ngModel
                            name="email"
                            required
                            email
                            #email="ngModel"
                        />
                        <!-- Show a help text if the input is touched and has invalid data -->
                        <p *ngIf="email.invalid && email.touched" class="help-block">
                            Please enter a valid email!
                        </p>
                    </div>
                </div>
                <!-- Display only once all controls have been touched -->
                <p
                    *ngIf="
                        userData.invalid &&
                        userData.control.controls['username'].touched &&
                        userData.control.controls['email'].touched
                    "
                >
                    User data is invalid!
                </p>

                <div class="form-group">
                    <label for="secret">Secret Questions</label>
                    <select
                        id="secret"
                        class="form-control"
                        [ngModel]="defaultQuestion"
                        name="secret"
                    >
                        <option value="pet">Your first Pet?</option>
                        <option value="teacher">Your first teacher?</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea
                        class="form-control"
                        name="questionAnswer"
                        rows="3"
                        [(ngModel)]="answer"
                    ></textarea>
                </div>
                <p>Your reply: {{ answer }}</p>

                <!-- Create a radio button for every element in the genders array -->
                <div class="radio" *ngFor="let gender of genders">
                    <label>
                        <input
                            type="radio"
                            name="gender"
                            [ngModel]="'male'"
                            [value]="gender"
                            required
                        />
                        {{ gender }}
                    </label>
                </div>

                <!-- The default behaviour of 'submit' buttons will submit the form -->
                <!-- Disabled while the form data is invalid -->
                <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
                    Submit
                </button>
            </form>
        </div>
    </div>
    <hr />
    <div class="row" *ngIf="submitted">
        <div class="col-xs-12">
            <h3>Your Data</h3>
            <p>Username: {{ user.username }}</p>
            <p>Mail: {{ user.email }}</p>
            <p>Secret Question: Your first {{ user.secretQuestion }}</p>
            <p>Secret Answer: {{ user.secretAnswer }}</p>
            <p>Gender: {{ user.gender }}</p>
        </div>
    </div>
</div>
